{% extends 'base.html.twig' %}

{% block body %}
    <form methode="POST" action="{{path('login')}}">
        <input type="text" id="username" name="username">
        <input type="password" id="password" name="password">
        <input type="submit" value="Check">
    </form>
{% endblock %}